<link rel="stylesheet" href="/Css/footers.css" />

<!-- Full-Width Footer -->
<footer style="width: fit-content !important;">

  <div class="row">
    <!-- About Section -->
    <div class="col-md-4 footer-animation">
      <h5>About E-Invoicing</h5>
      <p>
        E-Invoicing is the future of business transactions. It enables companies
        to automate invoicing, comply with regulations, reduce errors, and speed
        up payments.
      </p>
    </div>

    <!-- Quick Links Section -->
    <div class="col-md-4 footer-animation">
      <h5>Quick Links</h5>
      <ul class="list-unstyled">
        <li><a href="#">Home</a></li>
        <li><a href="#">Features</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">FAQs</a></li>
      </ul>
    </div>

    <!-- Newsletter Section -->
    <div class="col-md-4 footer-animation">
      <h5>Subscribe to our Newsletter</h5>
      <form>
        <input
          type="email"
          class="newsletter-input"
          placeholder="Enter your email"
        />
        <button type="submit" class="newsletter-btn">Subscribe</button>
      </form>
    </div>
  </div>

  <!-- Social Media Section -->
  <div class="row mt-4 text-center footer-animation">
    <div class="col-12">
      <h5>Follow Us</h5>
      <div class="social-icons">
        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>

  <!-- Footer Bottom -->
  <div class="footer-bottom">
    <p>&copy; 2024 DSPM E-Invoice Solutions. All Rights Reserved.</p>
  </div>
</footer>